efinix_blink/project/ip
efinix_blink/project/outflow
efinix_blink/project/work_pnr
efinix_blink/project/work_pt
efinix_blink/project/work_syn
efinix_blink/project/.lock
efinix_blink/project/efinix_blink.vdb

efinix_osc/project/ip
efinix_osc/project/outflow
efinix_osc/project/work_pnr
efinix_osc/project/work_pt
efinix_osc/project/work_syn
efinix_osc/project/.lock
efinix_osc/project/efinix_osc.vdb

efinix_sapphire_soc_test/project/outflow
efinix_sapphire_soc_test/project/work_pnr
efinix_sapphire_soc_test/project/work_pt
efinix_sapphire_soc_test/project/work_syn
efinix_sapphire_soc_test/project/.lock
efinix_sapphire_soc_test/project/efinix_sapphire_soc_test.vdb
efinix_sapphire_soc_test/project/efinix_sapphire_soc_test.peri.xml